/* Widgets page. */
.columns-1 {
	}
.columns-2 {
	overflow: hidden;
	float: left;
	width: 48%;
	}
.columns-3 {
	overflow: hidden;
	float: left;
	width: 31%;
	margin-right: 3.5%;
	}
.column-last {
	float: right;
	margin-right: 0;
	}

.zframe-widget-controls label{
	font-size: 11px;
	}
.columns-2 input.widefat, .columns-2 select.widefat {
	width: 99%;
	}
.columns-3 select.widefat {
	width: 98.5%;
	}
.zframe-widget-controls select[multiple="multiple"] {
	width: 100%;
	height: 5.0em !important;
	}
.zframe-widget-controls a {
	text-decoration: none;
}
input.smallfat {
	float: right;
	width: 66px;
	}
select.smallfat {
	float: right;
	min-width: 66px;
}
ul.envato-market {
	overflow: hidden;
}
ul.envato-market {
	overflow: hidden;
}
li.market-item {
	display: inline;
}
li.market-item img {
    float: left;
    margin-bottom: 4px;
    margin-right: 4px;
}
li.market-item img:hover {
	opacity: 0.75;
	filter: alpha(opacity=75);
}