/* Widgets page. */
.columns-1 {
	}
.columns-2 {
	overflow: hidden;
	float: left;
	width: 48%;
	}
.columns-3 {
	overflow: hidden;
	float: left;
	width: 31%;
	margin-right: 3.5%;
	}
.column-last {
	float: right;
	margin-right: 0;
	}

.zframe-widget-controls label{
	font-size: 12px;
	font-weight: bold;
	}
.zframe-widget-controls .controlDesc {
    font-size: 11.25px;
	display: block;
	color: #888;
	margin-bottom: 4px;
}	
.columns-2 input.widefat, .columns-2 select.widefat {
	width: 99%;
	}
.columns-3 select.widefat {
	width: 98.5%;
	}
.zframe-widget-controls select[multiple="multiple"] {
	width: 100%;
	height: 5.0em !important;
	}
.zframe-widget-controls a {
	text-decoration: none;
}
input.smallfat {

	width: 66px;
	}
select.smallfat {
	min-width: 66px;
}
ul.envato-market {
	overflow: hidden;
}
ul.envato-market {
	overflow: hidden;
}
li.market-item {
	display: inline;
}
li.market-item img {
    float: left;
    margin-bottom: 4px;
    margin-right: 4px;
}
li.market-item img:hover {
	opacity: 0.75;
	filter: alpha(opacity=75);
}
.widget .totalBackground {
    background: url("../img/background.png") no-repeat scroll left top transparent;
    border-top: 1px solid #E4E4E4;
    position: relative;
}
.fes-loading {
    background: url("../img/loading.gif") no-repeat scroll left center transparent;
	padding-left: 25px;
	margin-bottom: 13px;
	display: block;
}